import unittest
{{#imports}}
{{.}}
{{/imports}}
from kucoin_universal_sdk.model.common import RestResponse

class {{classname}}Test(unittest.TestCase):
{{#operations}}
{{#operation}}

    def test_{{vendorExtensions.x-meta.method}}_req_model(self):
       """
       {{vendorExtensions.x-meta.method}}
       {{summary}}
       {{path}}
       """
    {{#hasParams}}
       data = "{{{vendorExtensions.x-request-example}}}"
       req = {{vendorExtensions.x-meta.methodServiceFmt}}Req.from_json(data)
    {{/hasParams}}

    def test_{{vendorExtensions.x-meta.method}}_resp_model(self):
        """
        {{vendorExtensions.x-meta.method}}
        {{summary}}
        {{path}}
        """
        data = "{{{vendorExtensions.x-response-example}}}"
        common_response = RestResponse.from_json(data)
        resp = {{vendorExtensions.x-meta.methodServiceFmt}}Resp.from_dict(common_response.data)
{{/operation}}
{{/operations}}
