import unittest
{{#imports}}
{{.}}
{{/imports}}
from kucoin_universal_sdk.model.common import WsMessage

class {{classname}}Test(unittest.TestCase):
{{#operations}}
{{#operation}}

    def test_{{vendorExtensions.x-meta.method}}_resp_model(self):
        """
        {{vendorExtensions.x-meta.method}}
        {{summary}}
        {{path}}
        """
        data = "{{{vendorExtensions.x-response-example}}}"
        common_response = WsMessage.from_json(data)
        resp = {{vendorExtensions.x-meta.methodServiceFmt}}Event.from_dict(common_response.raw_data)
{{/operation}}
{{/operations}}
