# API FUNCTION TEMPLATE

{{#operations}}
{{#operation}}

def test_{{vendorExtensions.x-meta.method}}_req(self):
    """
        {{vendorExtensions.x-meta.method}}
        {{summary}}
        {{path}}
    """

{{#hasParams}}
    builder = {{vendorExtensions.x-meta.methodServiceFmt}}ReqBuilder()
    {{#vendorExtensions.x-request-model}}
    builder{{#vars}}.set_{{name}}(?){{/vars}}
    {{/vendorExtensions.x-request-model}}
    req = builder.build()
{{/hasParams}}
    try:
        resp = self.api.{{vendorExtensions.x-meta.method}}({{#hasParams}}req{{/hasParams}})
        print("code: ", resp.common_response.code)
        print("msg: ", resp.common_response.message)
        print("data: ", resp.to_json())
    except Exception as e:
        print("error: ", e)
        raise e
{{/operation}}
{{/operations}}
