# API FUNCTION TEMPLATE

{{#operations}}
{{#operation}}

func Test{{vendorExtensions.x-meta.subService}}{{vendorExtensions.x-meta.method}}Req(t *testing.T) {
    // {{vendorExtensions.x-meta.method}}
    // {{summary}}
    // {{path}}

{{#hasParams}}
    builder := {{packageName}}.New{{vendorExtensions.x-meta.method}}ReqBuilder()
    {{#vendorExtensions.x-request-model}}
    builder{{#vars}}.Set{{name}}(?){{/vars}}
    {{/vendorExtensions.x-request-model}}
    req := builder.Build()
{{/hasParams}}

    resp, err := {{packageName}}Api.{{vendorExtensions.x-meta.method}}({{#hasParams}}req, context.TODO(){{/hasParams}}{{^hasParams}}context.TODO(){{/hasParams}})
    if err != nil {
        panic(err)
    }
    data, err := json.Marshal(resp.ToMap())
    if err != nil {
        panic(err)
    }
    fmt.Println("code:", resp.CommonResponse.Code)
    fmt.Println("message:", resp.CommonResponse.Message)
    fmt.Println("data:", string(data))
}

{{/operation}}
{{/operations}}
