package {{packageName}}

import (
    "encoding/json"
    "github.com/Kucoin/kucoin-universal-sdk/sdk/golang/pkg/types"
    "github.com/stretchr/testify/assert"
    "testing"
)

{{#operations}}
{{#operation}}

func Test{{vendorExtensions.x-meta.subService}}{{vendorExtensions.x-meta.method}}ReqModel(t *testing.T) {
    // {{vendorExtensions.x-meta.method}}
    // {{summary}}
    // {{path}}

{{#hasParams}}
    data := "{{{vendorExtensions.x-request-example}}}"
    req := &{{vendorExtensions.x-meta.method}}Req{}
    err := json.Unmarshal([]byte(data), req)
    req.ToMap()
    assert.Nil(t, err)
{{/hasParams}}
}

func Test{{vendorExtensions.x-meta.subService}}{{vendorExtensions.x-meta.method}}RespModel(t *testing.T) {
    // {{vendorExtensions.x-meta.method}}
    // {{summary}}
    // {{path}}

    data := "{{{vendorExtensions.x-response-example}}}"
    commonResp := &types.RestResponse{}
    err := json.Unmarshal([]byte(data), commonResp)
    assert.Nil(t, err)
    assert.NotNil(t, commonResp.Data)
    resp := &{{vendorExtensions.x-meta.method}}Resp{}
    err = json.Unmarshal([]byte(commonResp.Data), resp)
    resp.ToMap()
    assert.Nil(t, err)
}
{{/operation}}
{{/operations}}
