{{>partial_header}}
package {{packageName}}

import (
    "github.com/Kucoin/kucoin-universal-sdk/sdk/golang/internal/interfaces"
{{#imports}}
    "{{.}}"
{{/imports}}
)

{{#api_entry}}
type {{api_entry_name}} interface {
{{#api_entry_value}}

    // Get {{api_entry_target_api}} API
    Get{{api_entry_target_api}}() {{api_entry_target_package}}.{{api_entry_target_api}}
{{/api_entry_value}}
}

type {{api_entry_name}}Impl struct {
{{#api_entry_value}}
    {{api_entry_target_api}} {{api_entry_target_package}}.{{api_entry_target_api}}
{{/api_entry_value}}
}

func New{{api_entry_name}}(transport {{^WS_MODE}}interfaces.Transport{{/WS_MODE}}{{#WS_MODE}}interfaces.WebSocketService{{/WS_MODE}}) {{api_entry_name}} {
    api := &{{api_entry_name}}Impl{}
{{#api_entry_value}}
    api.{{api_entry_target_api}} = {{api_entry_target_package}}.New{{api_entry_target_api}}Imp(transport)
{{/api_entry_value}}
    return api
}

{{#api_entry_value}}
func (impl *{{api_entry_name}}Impl) Get{{api_entry_target_api}}() {{api_entry_target_package}}.{{api_entry_target_api}}{
    return impl.{{api_entry_target_api}}
}
{{/api_entry_value}}

{{/api_entry}}



