package {{packageName}}

import (
    "encoding/json"
    "github.com/Kucoin/kucoin-universal-sdk/sdk/golang/pkg/types"
    "github.com/stretchr/testify/assert"
    "testing"
)

{{#operations}}
{{#operation}}

func Test{{vendorExtensions.x-meta.subService}}{{vendorExtensions.x-meta.method}}RespModel(t *testing.T) {
    // {{vendorExtensions.x-meta.method}}
    // {{summary}}

    data := "{{{vendorExtensions.x-response-example}}}"

    commonResp := &types.WsMessage{}
    err := json.Unmarshal([]byte(data), commonResp)
    assert.Nil(t, err)
    assert.NotNil(t, commonResp.RawData)
    obj := &{{vendorExtensions.x-meta.method}}Event{}
    err = json.Unmarshal(commonResp.RawData, obj)
    assert.Nil(t, err)
}
{{/operation}}
{{/operations}}
