{{>partial_header}}
package {{packageName}}

import (
    "github.com/Kucoin/kucoin-universal-sdk/sdk/golang/internal/interfaces"
{{#api_import}}
    "strings"
{{/api_import}}
)

type {{classname}} interface {

{{#operations}}
    {{#operation}}

        // {{vendorExtensions.x-meta.method}} {{summary}}
        // {{notes}}
        // push frequency: {{vendorExtensions.x-push_frequency}}
        {{vendorExtensions.x-meta.method}}{{operationName}}({{#vendorExtensions.x-meta.otherProperties}}{{#parameters}}{{#type}}{{#type.simple}}{{paras}} string,{{/type.simple}}{{#type.array}}{{paras}} []string,{{/type.array}}{{#type.object}}{{#paras}}{{.}} string,{{/paras}}{{/type.object}}{{/type}}{{/parameters}}{{/vendorExtensions.x-meta.otherProperties}}callback {{vendorExtensions.x-meta.method}}EventCallback) (id string, err error)
    {{/operation}}

    // Unsubscribe from topics
    UnSubscribe(id string) error

    // Start websocket
    Start() error

    // Stop websocket
    Stop() error
{{/operations}}
}

type {{classname}}Impl struct {
wsService interfaces.WebSocketService
}

func New{{classname}}Imp(wsService interfaces.WebSocketService) *{{classname}}Impl {
return &{{classname}}Impl{wsService : wsService}
}
{{#operations}}
    {{#operation}}

        func (impl *{{classname}}Impl){{vendorExtensions.x-meta.method}}{{operationName}}({{#vendorExtensions.x-meta.otherProperties}}{{#parameters}}{{#type}}{{#type.simple}}{{paras}} string,{{/type.simple}}{{#type.array}}{{paras}} []string,{{/type.array}}{{#type.object}}{{#paras}}{{.}} string,{{/paras}}{{/type.object}}{{/type}}{{/parameters}}{{/vendorExtensions.x-meta.otherProperties}}callback {{vendorExtensions.x-meta.method}}EventCallback) (string, error) {
        topicPrefix := "{{vendorExtensions.x-meta.otherProperties.topic}}"
        {{#vendorExtensions.x-meta.otherProperties}}{{#parameters}}{{#type}}
            {{#type.none}}args := []string{}{{/type.none}}
            {{#type.simple}}args := []string{ {{#paras}}{{.}}{{/paras}} }{{/type.simple}}
            {{#type.array}}args := {{paras}}{{/type.array}}
            {{#type.object}}args := []string{strings.Join([]string{ {{#paras}}{{.}},{{/paras}} }, "_")}{{/type.object}}
        {{/type}}{{/parameters}}{{/vendorExtensions.x-meta.otherProperties}}
        return impl.wsService.Subscribe(topicPrefix,  args, &{{vendorExtensions.x-meta.method}}EventCallbackWrapper{callback : callback})
        }
    {{/operation}}
{{/operations}}

func (impl *{{classname}}Impl)UnSubscribe(id string) error {
return impl.wsService.Unsubscribe(id)
}

func (impl *{{classname}}Impl)Start() error {
return impl.wsService.Start()
}

func (impl *{{classname}}Impl)Stop() error {
return impl.wsService.Stop()
}
