{{>partial_header}}
package {{packageName}}

{{#models}}
{{#model}}
{{#vendorExtensions.x-response-model}}
import (
    {{#vendorExtensions.x-original-response}}"encoding/json"{{/vendorExtensions.x-original-response}}
    "github.com/Kucoin/kucoin-universal-sdk/sdk/golang/pkg/types"
)
{{/vendorExtensions.x-response-model}}
{{#vendorExtensions.x-request-model}}
{{#vendorExtensions.x-request-raw-array}}import "encoding/json"{{/vendorExtensions.x-request-raw-array}}
{{/vendorExtensions.x-request-model}}

// {{classname}} {{{description}}}{{^description}}struct for {{{classname}}}{{/description}}
type {{classname}} struct {
{{#vendorExtensions.x-response-model}}
    // common response
    CommonResponse 	*types.RestResponse
{{/vendorExtensions.x-response-model}}
{{#parentModel.name}}
{{^isArray}}
	{{{parentModel.classname}}}
{{/isArray}}
{{#isArray}}
	Items {{{parentModel.classname}}}
{{/isArray}}
{{/parentModel.name}}
{{#vars}}
{{^-first}}
{{/-first}}
{{#description}}
	// {{{.}}}
{{/description}}
{{#deprecated}}
	// Deprecated
{{/deprecated}}
	{{name}} {{^required}}{{^isNullable}}{{^isArray}}{{^isFreeFormObject}}*{{/isFreeFormObject}}{{/isArray}}{{/isNullable}}{{/required}}{{{dataType}}} `json:"{{{baseName}}},omitempty"{{#vendorExtensions.x-tag-path}} path:"{{{.}}}" url:"-"{{/vendorExtensions.x-tag-path}}{{#vendorExtensions.x-tag-url}} url:"{{{.}}},omitempty"{{/vendorExtensions.x-tag-url}}`
{{/vars}}
}

// New{{classname}} instantiates a new {{classname}} object
// This constructor will assign default values to properties that have it defined
func New{{classname}}({{#requiredVars}}{{nameInCamelCase}} {{dataType}}{{^-last}}, {{/-last}}{{/requiredVars}}) *{{classname}} {
	this := {{classname}}{}
{{#allVars}}
{{#required}}
	this.{{name}} = {{nameInCamelCase}}
{{/required}}
{{^required}}
{{#defaultValue}}
{{^vendorExtensions.x-golang-is-container}}
{{^isReadOnly}}
{{#isNullable}}
	var {{nameInCamelCase}} {{{datatypeWithEnum}}} = {{{.}}}
	this.{{name}} = *New{{{dataType}}}(&{{nameInCamelCase}})
{{/isNullable}}
{{^isNullable}}
	var {{nameInCamelCase}} {{{dataType}}} = {{{.}}}
	this.{{name}} = &{{nameInCamelCase}}
{{/isNullable}}
{{/isReadOnly}}
{{/vendorExtensions.x-golang-is-container}}
{{/defaultValue}}
{{/required}}
{{/allVars}}
	return &this
}

// New{{classname}}WithDefaults instantiates a new {{classname}} object
// This constructor will only assign default values to properties that have it defined,
func New{{classname}}WithDefaults() *{{classname}} {
	this := {{classname}}{}
{{#vars}}
{{#defaultValue}}
{{^vendorExtensions.x-golang-is-container}}
{{^isReadOnly}}
{{#isNullable}}
{{!we use datatypeWithEnum here, since it will represent the non-nullable name of the datatype, e.g. int64 for NullableInt64}}
	var {{nameInCamelCase}} {{{datatypeWithEnum}}} = {{{.}}}
	this.{{name}} = *New{{{dataType}}}(&{{nameInCamelCase}})
{{/isNullable}}
{{^isNullable}}
	var {{nameInCamelCase}} {{{dataType}}} = {{{.}}}
	this.{{name}} = {{^required}}&{{/required}}{{nameInCamelCase}}
{{/isNullable}}
{{/isReadOnly}}
{{/vendorExtensions.x-golang-is-container}}
{{/defaultValue}}
{{/vars}}
	return &this
}

func (o *{{classname}}) ToMap() map[string]interface{} {
toSerialize := map[string]interface{}{}
{{#vars}}
    toSerialize["{{{baseName}}}"] = o.{{name}}
{{/vars}}
return toSerialize
}

{{#vendorExtensions.x-request-raw-array}}
func (o *{{classname}}) MarshalJSON() ([]byte, error) {
    return json.Marshal(o.Items)
}
func (o *{{classname}}) UnmarshalJSON(b []byte) error  {
    err := json.Unmarshal(b, &o.Items)
    return err
}
{{/vendorExtensions.x-request-raw-array}}
{{#vendorExtensions.x-original-response}}
func (o *{{classname}}) UnmarshalJSON(b []byte) error  {
    err := json.Unmarshal(b, &o.Data)
    return err
}
{{/vendorExtensions.x-original-response}}


{{#vendorExtensions.x-request-model}}
type {{classname}}Builder struct {
    obj *{{classname}}
}

func New{{classname}}Builder() *{{classname}}Builder {
    return &{{classname}}Builder{obj : New{{classname}}WithDefaults()}
}

{{#vars}}

{{#description}}
// {{{.}}}
{{/description}}
func (builder *{{classname}}Builder) Set{{name}}(value {{{dataType}}}) *{{classname}}Builder {
    builder.obj.{{name}} = {{^required}}{{^isNullable}}{{^isArray}}{{^isFreeFormObject}}&{{/isFreeFormObject}}{{/isArray}}{{/isNullable}}{{/required}}value
    return builder
}
{{/vars}}

func (builder *{{classname}}Builder) Build() *{{classname}} {
    return builder.obj
}
{{/vendorExtensions.x-request-model}}
{{#vendorExtensions.x-response-model}}
func (o *{{classname}}) SetCommonResponse(response *types.RestResponse)  {
    o.CommonResponse = response
}
{{/vendorExtensions.x-response-model}}
{{/model}}
{{/models}}
