# API FUNCTION TEMPLATE


def test_get_account_req(self):
    """
        get_account
        Get Account
        /api/v2/affiliate/inviter/statistics
    """

    try:
        resp = self.api.get_account()
        print("code: ", resp.common_response.code)
        print("msg: ", resp.common_response.message)
        print("data: ", resp.to_json())
    except Exception as e:
        print("error: ", e)
        raise e
